body {
  --sidebarwidth: 10%;
  --headshotsize: 200px;
  --deepred: #b90103;
  --gold: #FFBF17;
  --darkgreen: #3F612D;

  display: grid;
  height: 100vh;
  margin: 0;
  grid-template-rows: [header] 50px [mainstart] auto [peoplelist] auto [paperlist] auto;
  grid-template-columns: 3rem [sidebar] var(--sidebarwidth) 3rem [mainstart] 5fr [mainend] 3rem [right-panel] 1fr [margin-right] 3rem;
  justify-items: center;
  align-items: start;

  color: darkslategray;
  font-family: "Avenir Next";
}

.subtitle {
  margin-top: 3rem;
  color: #bbb;
  font-size: 1.2rem;
}

a {
  margin-right: 10px;
  color: steelblue;
  text-decoration: none;
}

a > span {
  margin-right: 4px;
}

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 3rem;
  width: var(--sidebarwidth);
  min-width: 100px;
  color: darkslategray;
  font-size: 1rem;
  cursor: default;
}

#logo {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: url('images/logo.webp') center;
  background-size: contain;
}

#slogan {
  color: rgb(56,7,97);
  text-align: center;
  font-size: 1.03rem;;
  margin-bottom: 3rem;
}

.tab {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

#page-about:hover {
  color: var(--deepred);
}

#page-people:hover {
  color: var(--gold);
}

#page-papers:hover {
  color: var(--darkgreen);
}

#lab-social-media {
  position: absolute;
  bottom: 3rem;
  font-size: 2rem;
}

/*
text animation technique #2 from
https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/
*/

#About {
  grid-row-start: mainstart;
  grid-column-start: mainstart;
  grid-column-end: margin-right;
  justify-self: stretch;
}

#Name {
  white-space: nowrap;
  font-size: 3rem;
  font-family: 'Avenir';
  font-weight: bold;
  margin-bottom: 1rem;
}

#Papers {
  grid-row-start: paperlist;
  grid-column-start: mainstart;
  grid-column-end: right-panel;
  justify-self: left;
}

#People {
  grid-row-start: peoplelist;
  grid-column-start: mainstart;
  grid-column-end: mainend;
  justify-self: left;
  width: 100%;
}

#News {
  grid-row-start: peoplelist;
  grid-column-start: right-panel;
  justify-self: left;
}

#News a {
  margin: 0;
}

.paper {
  margin-top: 10px;
  margin-bottom: 33px;
}

.paper-thumbnail {
  width: 120px;
  height: 62px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 20px auto 0;
}

.paper-entry {
  display: inline-block;
}

.paper-title {
  font-weight: bold;
}

.honorable-mention{
  color: var(--deepred);
  font-weight: bold;
}

.best-paper {
  color: var(--gold);
  font-weight: bold;
}

.people-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--headshotsize), 1fr));
  grid-gap: 1.6rem;
  margin: 1.6rem 0;
}

.headshot {
  width: var(--headshotsize);
  height: var(--headshotsize);
  border-radius: 50%;
}

.contact {
  white-space: nowrap;
  text-align: center;
}
