body {
  --sidebarwidth: 200px;
  --deepred: #b90103;
  --gold: #FFBF17;
  --darkgreen: #3F612D;

  display: grid;
  height: 100vh;
  margin: 0;
  grid-template-rows: [header] 50px [mainstuff] auto [paperlist] auto;
  grid-template-columns: 3% [sidebar] var(--sidebarwidth) [mainstuff] auto [right-panel] 15% [margin-right] 3%;
  column-gap: 50px;
  justify-items: center;
  align-items: start;

  color: darkslategray;
  font-family: "Avenir Next"
}

a {
  margin-right: 10px;
  color: steelblue;
  text-decoration: none;
}

a > span {
  margin-right: 4px;
}

#photo-container {
  grid-row-start: mainstuff;
  grid-column-start: sidebar;

  color: darkslategray;
  font-size: 1em;
  cursor: default;
}

.tab {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

#page-about:hover {
  color: var(--deepred);
}

#page-people:hover {
  color: var(--gold);
}

#page-papers:hover {
  color: var(--darkgreen);
}

#photo-container > a {
  display: block;
}

/*
text animation technique #2 from
https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/
 */

#photo-container #photo {
  width: var(--sidebarwidth);
  height: var(--sidebarwidth);
  border-radius: 250px;
  background: url('images/logo.png') center;
  background-size: contain;
  margin: 5px;
}

#self-intro {
  grid-row-start: mainstuff;
  grid-column-start: mainstuff;
  grid-column-end: margin-right;
  justify-self: stretch;
}

#name {
  justify-self: start;
  font-size: 1.8em;
  font-family: 'Avenir';
  font-weight: bold;
}

#paper-list {
  grid-row-start: peoplelist;
  grid-column-start: mainstuff;
  grid-column-end: right-panel;
  justify-self: left;
}

#people-list {
  grid-row-start: paperlist;
  grid-column-start: mainstuff;
  grid-column-end: right-panel;
  justify-self: left;
}

#lab-news {
  grid-row-start: paperlist;
  grid-column-start: right-panel;
  justify-self: left;
}

.paper-category {
  margin-top: 30px;
  color: #bbb;
  font-size: 1.2em;
}

.paper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.paper-title {
  font-weight: bold;
}

.honorable-mention{
  color: var(--deepred);
  font-weight: bold;
}

.best-paper {
  color: var(--gold);
  font-weight: bold;
}

.me {
  /* font-weight: bold; */
}

.people {
  margin-top: 30px;
  color: #bbb;
  font-size: 1.2em;
}

.person {
  margin-top: 10px;
  margin-bottom: 10px;
}

.links {
  font-size: 0.9em;
}

.headshot {
  width: 180px;
  border-radius: 50%;
}